.fixed-video-container {
    position: fixed;
    display: none;
    width: 90vw;
    height: 30vh;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: rgba(28, 28, 28, 0.4);
    z-index: 10000;
}
.fixed-video-container video {
    width: 100%;
}
.fixed-video-container.active {
    display: block;
}
.fixed-video-container p {
    color: white;
    padding: 8px;
    font-size: 20px;
}
.close-btn {
    font-size: 50px;
    color: red;
    text-decoration: none;
    font-family: sans-serif;
    position: absolute;
    right: -15px;
    top: -35px;
    display: inline-block;
}